<html>
    <head>
    <title>分割版ワールドマップ - ヒラリラーのMP</title>
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="./style.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="./js/layer.js"></script>
    <script src="./js/station.js"></script>
    <script src="./js/world.js"></script>
    <script src="./js/index.js"></script>
  </head>
  <body>
    <div id="app">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">分割版世界地図</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="../world/">世界観TOP に戻る<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="../">MP TOP に戻る</a>
          </div>
        </div>
      </nav>
      <div id="map"></div>
      <div id="menu" class="container">
        <div class="row">
          <div class="col-sm-12">
            <button class="btn-success" onclick="pushButton.changeRailway()">鉄道路線表示切り替え</button>
            <button class="btn-success" onclick="pushButton.changeElevation()">標高表示切り替え</button>
            <button class="btn-success" onclick="pushButton.changePlaceName()">地名表示切り替え</button>
            <button class="btn-success" onclick="pushButton.changeDetailRailway()">旧・鉄道詳細路線表示切り替え<br>（ナーザダリ近郊のみ）</button>
            <button class="btn-success" onclick="pushButton.changeStationMarker()">駅マーカー切り替え</button>
          </div>
          <div class="col-sm-12 distanceMode">
            総距離: <span id="totalDistance">0</span> km
            区間距離: <span id="sectionDistance">0</span> km
            <button class="btn-success" onclick="pushButton.resetDistance()">距離測定をリセット</button>
          </div>
          <div class="col-sm-12 inputMode">
            <form>
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">次の駅名</label>
                <div class="col-sm-8">
                  <textarea cols="100" rows="5" class="form-control" id="nextStationName" placeholder="スタリカ"></textarea> 
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">出力されたJSON</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="outputJSON">
                </div>
              </div>
            </form>
          </div>
          <div class="col-sm-12">
            <a href="./">
              <button class="btn-primary">normalMode</button>
            </a>
            <a href="./?distanceMode=true">
              <button class="btn-primary">distanceMode</button>
            </a>
            <a href="./?inputMode=true">
              <button class="btn-primary">inputMode</button>
            </a>
          </div>
        </div>
      </div>
      <!-- ポップアップウィンドウ用のパーツ -->
      <div hidden>
        <div id="popup">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                {{lineName}}
              </div>
              <div class="col-sm-12 stationName">
                {{stationName}}
              </div>
              <!-- 1行目 -->
              <div class="col-sm-1"></div>
              <div class="col-sm-4 colorLine colorLineSide">
                <span v-if="beforeStation">
                  {{beforeStation.label}}
                </span>
              </div>
              <div class="col-sm-2 colorLine">
                <div class="centerColor"></div>
              </div>
              <div class="col-sm-4 colorLine colorLineSide colorLineRight">
                <span v-if="afterStation">
                  {{afterStation.label}}
                </span>
              </div>
              <div class="col-sm-1"></div>
              <!-- 1行目 -->
              <div class="col-sm-1"></div>
              <div class="col-sm-4">
                <span v-if="beforeStation">
                  {{beforeStation.distance}} km
                </span>
              </div>
              <div class="col-sm-2">
              </div>
              <div class="col-sm-4">
                <span v-if="afterStation">
                  {{afterStation.distance}} km
                </span>
              </div>
              <div class="col-sm-1"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
