<html>
    <head>
    <title>分割版ワールドマップ - ヒラリラーのMP</title>
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="./style.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="./js/layer.js"></script>
    <script src="./js/station.js"></script>
    <script src="./js/world.js"></script>
    <script src="./js/index.js"></script>
  </head>
  <body>
    <div id="app">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">分割版世界地図</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="../world/">世界観TOP に戻る<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="../">MP TOP に戻る</a>
          </div>
        </div>
      </nav>
      <div id="main" class="container">
        <div class="row main-row">
          <!-- 左側メニュー -->
          <div id="menu" class="col-2">
            <!-- 表示切替 -->
            <div class="btn-group-vertical btn-group-sm">
              <button class="btn btn-success" onclick="pushButton.changeRailway()">鉄道路線表示切り替え</button>
              <button class="btn btn-success" onclick="pushButton.changeElevation()">標高表示切り替え</button>
              <button class="btn btn-success" onclick="pushButton.changePlaceName()">地名表示切り替え</button>
              <button class="btn btn-success" onclick="pushButton.changeDetailRailway()">旧・鉄道詳細路線表示切り替え<br>（ナーザダリ近郊のみ）</button>
              <button class="btn btn-success" onclick="pushButton.changeStationMarker()">駅マーカー切り替え</button>
              <button class="btn btn-success" onclick="pushButton.hideLines()">鉄道路線を非表示にする</button>
              <button class="btn btn-success" onclick="pushButton.showLines()">鉄道路線を表示する</button>
            </div>
            <hr/>
            <!-- モード切替 -->
            <div class="btn-group-vertical btn-group-sm">
              <button class="btn btn-outline-dark" onClick="pushButton.changeNoramalMode()">
                閲覧モード
              </button>
              <button class="btn btn-outline-dark" onClick="pushButton.changeDistanceMode()">
                距離測定モード
              </button>
              <button class="btn btn-outline-dark" onClick="pushButton.changeInputMode()">
                鉄道路線作成モード
              </button>
              <button class="btn btn-outline-dark" onClick="pushButton.changeEmphasisLineMode()">
                鉄道路線強調モード
              </button>
            </div>
            <hr/>
            <!-- 距離測定モード -->
            <div class="distanceMode">
              <p>総距離: <span id="totalDistance">0</span> km</p>
              <p>区間距離: <span id="sectionDistance">0</span> km</p>
              <p><button class="btn-success" onclick="pushButton.resetDistance()">距離測定をリセット</button></p>
            </div>
            <!-- 路線構築モード -->
            <div class="inputMode">
              <form>
                <label class="col-form-label">次の駅名</label><br/>
                <div>
                  <textarea cols="100" rows="5" class="form-control" id="nextStationName" placeholder="スタリカ"></textarea> 
                </div>
                <label class="col-form-label">出力されたJSON</label>
                <div>
                  <input type="text" class="form-control" id="outputJSON">
                </div>
              </form>
            </div>
            <!-- 路線構築モード -->
            <div class="emphasisLineMode">
              <div class="btn-group-vertical btn-group" role="group">
                <button class="btn btn-outline-dark emphasisButton" onClick="pushButton.emphasisLine()">
                  路線強調解除
                </button>
                <!-- マーベチック鉄道 -->
                <div class="btn-group" role="group">
                  <button id="MBT-MR" class="btn btn-secondary dropdown-toggle emphasisButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    マーベチック鉄道
                  </button>
                  <div class="dropdown-menu" aria-labelledby="MBT-MR">
                    <a class="dropdown-item emphasisButton" onClick="pushButton.emphasisLine([1, 200])">ドロップ線</a>
                    <a class="dropdown-item emphasisButton" onClick="pushButton.emphasisLine([2])">フェルファ線</a>
                    <a class="dropdown-item emphasisButton" onClick="pushButton.emphasisLine([3])">マシュリ沿岸線</a>
                    <a class="dropdown-item emphasisButton" onClick="pushButton.emphasisLine([4])">エニカル線</a>
                    <a class="dropdown-item emphasisButton" onClick="pushButton.emphasisLine([5])">ケーネル線</a>
                    <a class="dropdown-item emphasisButton" onClick="pushButton.emphasisLine([6])">ネロール線</a>
                    <a class="dropdown-item emphasisButton" onClick="pushButton.emphasisLine([7])">レトン線</a>
                    <a class="dropdown-item emphasisButton" onClick="pushButton.emphasisLine([8])">ピャーテ線</a>
                    <a class="dropdown-item emphasisButton" onClick="pushButton.emphasisLine([9])">オスタ線</a>
                    <a class="dropdown-item emphasisButton" onClick="pushButton.emphasisLine([10])">フェルツェン線</a>
                    <a class="dropdown-item emphasisButton" onClick="pushButton.emphasisLine([11])">湖南沿岸線</a>
                    <a class="dropdown-item emphasisButton" onClick="pushButton.emphasisLine([12])">円央線</a>
                    <a class="dropdown-item emphasisButton" onClick="pushButton.emphasisLine([13])">ジオンド線</a>
                    <a class="dropdown-item emphasisButton" onClick="pushButton.emphasisLine([14])">チクサ線</a>
                    <a class="dropdown-item emphasisButton" onClick="pushButton.emphasisLine([15])">ドーレル線</a>
                  </div>
                </div>
                <!-- ナーザダリ地下鉄 -->
                <div class="btn-group" role="group">
                  <button id="MBT-Subway" type="button" class="btn btn-secondary dropdown-toggle emphasisButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    ナーザダリ地下鉄
                  </button>
                  <div class="dropdown-menu" >
                    <a class="dropdown-item emphasisButton" onClick="pushButton.emphasisLine([50])">市営地下鉄モルド線</a>
                    <a class="dropdown-item emphasisButton" onClick="pushButton.emphasisLine([51])">市営地下鉄ムルト線</a>
                  </div>
                </div>
                <!-- エンデル鉄道 -->
                <div class="btn-group" role="group">
                  <button id="MBT-Subway" type="button" class="btn btn-secondary dropdown-toggle emphasisButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    エンデル鉄道
                  </button>
                  <div class="dropdown-menu" >
                    <a class="dropdown-item emphasisButton" onClick="pushButton.emphasisLine([100])">ドノリ線</a>
                    <a class="dropdown-item emphasisButton" onClick="pushButton.emphasisLine([101])">空港線</a>
                    <a class="dropdown-item emphasisButton" onClick="pushButton.emphasisLine([103])">ドレッジ線</a>
                    <a class="dropdown-item emphasisButton" onClick="pushButton.emphasisLine([104])">ダーニェ競馬場線</a>
                    <a class="dropdown-item emphasisButton" onClick="pushButton.emphasisLine([105, 250])">ユヒガ本線</a>
                    <a class="dropdown-item emphasisButton" onClick="pushButton.emphasisLine([251])">ホイル線</a>
                  </div>
                </div>
                <!-- その他私鉄 -->
                <div class="btn-group" role="group">
                  <button id="MBT-Subway" type="button" class="btn btn-secondary dropdown-toggle emphasisButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    ロスナル鉄道
                  </button>
                  <div class="dropdown-menu" >
                    <a class="dropdown-item emphasisButton" onClick="pushButton.emphasisLine([110])">ロスナル本線</a>
                    <a class="dropdown-item emphasisButton" onClick="pushButton.emphasisLine([111])">バネット線</a>
                    <a class="dropdown-item emphasisButton" onClick="pushButton.emphasisLine([112])">ムスジョル線</a>
                    <a class="dropdown-item emphasisButton" onClick="pushButton.emphasisLine([113])">カラバ線</a>
                    <a class="dropdown-item emphasisButton" onClick="pushButton.emphasisLine([114])">オガル線</a>
                  </div>
                </div>
                <div class="btn-group" role="group">
                  <button id="MBT-Subway" type="button" class="btn btn-secondary dropdown-toggle emphasisButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    マーベチック私鉄
                  </button>
                  <div class="dropdown-menu" >
                    <a class="dropdown-item emphasisButton" onClick="pushButton.emphasisLine([120])">エスティマ鉄道本線</a>
                    <a class="dropdown-item emphasisButton" onClick="pushButton.emphasisLine([130])">エニカル湖岸鉄道線</a>
                    <a class="dropdown-item emphasisButton" onClick="pushButton.emphasisLine([140])">ピョーリ沿海鉄道</a>
                    <a class="dropdown-item emphasisButton" onClick="pushButton.emphasisLine([150])">フミョール鉄道線</a>
                    <a class="dropdown-item emphasisButton" onClick="pushButton.emphasisLine([160])">西ドノリ鉄道本線</a>
                  </div>
                </div>
                <div class="btn-group" role="group">
                  <button id="MBT-Subway" type="button" class="btn btn-secondary dropdown-toggle emphasisButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    ルーレット国鉄
                  </button>
                  <div class="dropdown-menu" >
                    <a class="dropdown-item emphasisButton" onClick="pushButton.emphasisLine([201])">ハライド線</a>
                    <a class="dropdown-item emphasisButton" onClick="pushButton.emphasisLine([202])">ケーカム線</a>
                    <a class="dropdown-item emphasisButton" onClick="pushButton.emphasisLine([203])">ユーカム線</a>
                    <a class="dropdown-item emphasisButton" onClick="pushButton.emphasisLine([204])">ノザーランド線</a>
                    <a class="dropdown-item emphasisButton" onClick="pushButton.emphasisLine([205])">バカラ線</a>
                    <a class="dropdown-item emphasisButton" onClick="pushButton.emphasisLine([206])">ムンツル線</a>
                    <a class="dropdown-item emphasisButton" onClick="pushButton.emphasisLine([207])">ノビュル線</a>
                    <a class="dropdown-item emphasisButton" onClick="pushButton.emphasisLine([208])">ダラス空港線</a>
                    <a class="dropdown-item emphasisButton" onClick="pushButton.emphasisLine([209])">ボルドン線</a>
                    <a class="dropdown-item emphasisButton" onClick="pushButton.emphasisLine([210])">トーラー線</a>
                    <a class="dropdown-item emphasisButton" onClick="pushButton.emphasisLine([211])">ニコシア線</a>
                    <a class="dropdown-item emphasisButton" onClick="pushButton.emphasisLine([212])">ヘント線</a>
                    <a class="dropdown-item emphasisButton" onClick="pushButton.emphasisLine([213])">ナルスト線</a>
                  </div>
                </div>
                <div class="btn-group" role="group">
                  <button id="MBT-Subway" type="button" class="btn btn-secondary dropdown-toggle emphasisButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    ルーレット私鉄
                  </button>
                  <div class="dropdown-menu" >
                    <a class="dropdown-item emphasisButton" onClick="pushButton.emphasisLine([260])">ムルベ鉄道本線</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- 路線構築モードここまで -->
          </div>
          <!-- 右側マップ -->
          <div id="map" class="col-10"></div>
        </div>
      </div>
      <!-- ポップアップウィンドウ用のパーツ -->
      <div hidden>
        <div id="popup">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                {{lineName}}
              </div>
              <div class="col-sm-12 stationName">
                {{stationName}}
              </div>
              <!-- 1行目 -->
              <div class="col-sm-1"></div>
              <div class="col-sm-4 colorLine colorLineSide">
                <span v-if="beforeStation">
                  {{beforeStation.label}}
                </span>
              </div>
              <div class="col-sm-2 colorLine">
                <div class="centerColor"></div>
              </div>
              <div class="col-sm-4 colorLine colorLineSide colorLineRight">
                <span v-if="afterStation">
                  {{afterStation.label}}
                </span>
              </div>
              <div class="col-sm-1"></div>
              <!-- 1行目 -->
              <div class="col-sm-1"></div>
              <div class="col-sm-4">
                <span v-if="beforeStation">
                  {{beforeStation.distance}} km
                </span>
              </div>
              <div class="col-sm-2">
              </div>
              <div class="col-sm-4">
                <span v-if="afterStation">
                  {{afterStation.distance}} km
                </span>
              </div>
              <div class="col-sm-1"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- ポップアップウィンドウ用のパーツここまで -->
    </div>
  </body>
</html>
