html,body{
  margin: 0px;
  padding: 0px;
}
#map {
  width: 100%;
  height: 80%;
}
#menu {
  width: 100%;
  height: 10%;
  margin: 10px;
}
.divicon {
  text-align: center;
  background-color: #FFFFFF;
  border: 'solid 1px';
  border-radius: 10px;
  opacity: 0.8;
  font-size: 18px !important
}

.normalMode {
  margin: 10px
}

#popup {
  text-align: center;
}

.stationName {
  font-size: 18px;
  font-weight: bold;
}

.colorLine {
  background-color: #228b22;
  height: 32px;
}

.centerColor {
  height: 100%;
  width: 30px;
  background-color: #FF0000;
  margin: auto;
}

.colorLineSide {
  padding-top: 7px;
  font-weight: bold;
  color: #ffffff;
}

.colorLineRight::before  {
  position: absolute;
  content: "";
  border: solid 16px transparent;
  border-left:solid 24px #228b22;
  left: 100px;
  top: 0px;
}