html,body{
  margin: 0px;
  padding: 0px;
}

#main {
  height: 100%;
  max-width: 100%;
}

.main-row {
  height: 100vh;
}

#menu {
  padding-top: 15px;
  width: 20%;
}

#map {
  width: 80%;
  max-height: 90vh;
}

.emphasisButton {
  font-size: 0.75rem !important;
}

.divicon {
  text-align: center;
  background-color: #FFFFFF;
  border: 'solid 1px';
  border-radius: 10px;
  opacity: 0.8;
  font-size: 12px !important
}

.lineName {
  text-align: center;
  font-size: 18px !important;
  font-weight: bold;
  background-color: #FFFFFF;
  border: solid #98fb98;
}

.normalMode {
  margin: 10px
}

#popup {
  text-align: center;
}

.stationName {
  font-size: 18px;
  font-weight: bold;
}

.colorLine {
  background-color: #228b22;
  height: 32px;
}

.centerColor {
  height: 100%;
  width: 30px;
  background-color: #FF0000;
  margin: auto;
}

.colorLineSide {
  padding-top: 7px;
  font-weight: bold;
  color: #ffffff;
}

.colorLineRight::before  {
  position: absolute;
  content: "";
  border: solid 16px transparent;
  border-left:solid 24px #228b22;
  left: 133px;
  top: 0px;
}