html,body{
  margin: 0px;
  padding: 0px;
}
#map {
  width: 100%;
  height: 80%;
}
#menu {
  width: 100%;
  height: 10%;
  margin: 10px;
}
.divicon {
  text-align: center;
  background-color: #FFFFFF;
  border: 'solid 1px';
  border-radius: 10px;
  opacity: 0.8;
  font-size: 18px !important
}

.normalMode {
  margin: 10px
}

#popup {
  text-align: center;
}

.stationName {
  font-size: 16px
}

.colorLine {
  background-color: #98fb98;
  height: 32px;
  padding-top: 5px;
}

.colorLineRight::before  {
  position: absolute;
  content: "";
  border: solid 16px transparent;
  border-left:solid 24px #98fb98;
  left: 100px;
  top: 0px;
}